lib/
bin/
src/*.o
php_ext/.libs/
php_ext/modules/
php_ext/*.lo
php_ext/*.la
php_ext/*.dep
php_ext/Makefile
php_ext/Makefile.fragments
php_ext/Makefile.objects
php_ext/Makefile.global
php_ext/acinclude.m4
php_ext/autom4te.cache/
php_ext/build/
php_ext/config.h
php_ext/config.h.in
php_ext/config.nice
php_ext/configure
php_ext/configure.ac
php_ext/libtool
php_ext/missing
php_ext/mkinstalldirs
php_ext/run-tests.php
php_ext/config.status
php_ext/config.log
php_ext/autom4te.cache/
php_ext/*.loT